@import url('https://fonts.googleapis.com/css?family=Righteous');

.button{
    -fx-font-family: Righteous ,'Arial Black';
    -fx-background-color: rgba(240, 230, 140, 0.3);
    -fx-font-size: 25;
    -fx-background-radius: 15;
    -fx-text-fill: black;
}

.button:pressed {
    -fx-background-color: #988d31;
    -fx-text-fill: black;
    -fx-font-size: 25;
    -fx-font-family: Righteous, 'Arial Black';
    -fx-background-radius: 15;
}

.button:hover {
    -fx-background-color: #bdb558;
    -fx-text-fill: black;
    -fx-font-size: 25;
    -fx-font-family: Righteous, 'Arial Black';
    -fx-background-radius: 15;
}

.button:pressed:hover {
    -fx-background-color: #988d31;
    -fx-text-fill: black;
    -fx-font-size: 25;
    -fx-font-family: Righteous, 'Arial Black';
    -fx-background-radius: 15;
}

#l1, #l2, #l3, #l4, #l5, #l6, #l7, #l8, #l9, #l10, #l11{
    -fx-font-family: Righteous ,'Arial Black';
    -fx-text-fill: #f1c40f;
    -fx-font-size: 35;
}

.tab{
    -fx-font-family: Righteous ,'Arial Black';
    -fx-background-color: rgba(240, 230, 140);
    -fx-font-size: 22;
    -fx-background-radius: 15;
    -fx-text-fill: black;
}

#tb1, #tb2{
    -fx-font-family: Righteous ,'Arial Black';
    -fx-background-color: rgba(240, 230, 140);
    -fx-font-size: 22;
    -fx-background-radius: 15;
    -fx-text-fill: black;
}

.label{
    -fx-font-family: Righteous ,'Arial Black';
    -fx-text-fill: #d6dbdf ;
    -fx-font-size: 30;
}
