@import url('https://fonts.googleapis.com/css?family=Righteous');

.button{
    -fx-font-family: Righteous ,'Arial Black';
    -fx-background-color: rgba(240, 230, 140, 0.3);
    -fx-font-size: 25;
    -fx-background-radius: 15;
    -fx-text-fill: black;
}

.button:pressed {
    -fx-background-color: #988d31;
    -fx-text-fill: black;
    -fx-font-size: 25;
    -fx-font-family: Righteous, 'Arial Black';
    -fx-background-radius: 15;
}

.button:hover {
    -fx-background-color: #bdb558;
    -fx-text-fill: black;
    -fx-font-size: 25;
    -fx-font-family: Righteous, 'Arial Black';
    -fx-background-radius: 15;
}

.button:pressed:hover {
    -fx-background-color: #988d31;
    -fx-text-fill: black;
    -fx-font-size: 25;
    -fx-font-family: Righteous, 'Arial Black';
    -fx-background-radius: 15;
}

.button:disabled {
    -fx-font-family: Righteous ,'Arial Black';
    -fx-background-color: rgba(240, 230, 140, 0.1);
    -fx-font-size: 25;
    -fx-text-fill: rgba(240, 230, 140);
    -fx-background-radius: 15;
}

#backButton, #startButton {
    -fx-font-family: Righteous ,'Arial Black';
    -fx-background-color: rgba(240, 230, 140);
    -fx-font-size: 25;
    -fx-background-radius: 15;
    -fx-text-fill: black;
}

.label{
    -fx-font-family: Righteous ,'Arial Black';
    -fx-font-size: 35;
}

#warrior{
    -fx-text-fill: red;
}

#elf{
    -fx-text-fill: aqua;
}
#wiz{
    -fx-text-fill: lime;
}

#val{
    -fx-text-fill: yellow;
}