.button{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-color: #BDB76B;
    -fx-font-size: 25;
    -fx-font-family: 'Arial Black';
    -fx-background-radius: 15;
    -fx-text-fill: #30312c;
}

.button:pressed {
    -fx-background-color: #918c51;
    -fx-text-fill: black;
    -fx-font-size: 25;
    -fx-font-family: 'Arial Black';
    -fx-background-radius: 15;
}