@import url('https://fonts.googleapis.com/css?family=Righteous');

.button{
    -fx-font-family: Righteous ,'Arial Black';
    -fx-background-color: #BDB76B;
    -fx-font-size: 25;
    -fx-background-radius: 15;
    -fx-text-fill: #30312c;
}

.button:pressed {
    -fx-background-color: #918c51;
    -fx-text-fill: black;
    -fx-font-size: 25;
    -fx-font-family: Righteous, 'Arial Black';
    -fx-background-radius: 15;
}