/* -- Player One -- */

#playerOne {
    -fx-border-color: red;
    -fx-border-style: solid;
    -fx-border-radius: 3;
    -fx-border-width: 5;
    -fx-text-fill: white;
}

#labelWarrior {
    -fx-text-fill: red;
    -fx-font-size: 40;
}

/* -- Player Two -- */

#playerTwo {
    -fx-border-color: aqua;
    -fx-border-style: solid;
    -fx-border-radius: 3;
    -fx-border-width: 5;
    -fx-text-fill: white;
}

#labelElf {
    -fx-text-fill: aqua;
    -fx-font-size: 40;
}

/* -- Player Three -- */

#playerThree {
    -fx-border-color: yellow;
    -fx-border-style: solid;
    -fx-border-radius: 3;
    -fx-border-width: 5;
    -fx-text-fill: white;
}

#labelValkyrie {
    -fx-text-fill: yellow;
    -fx-font-size: 40;
}

/* -- Player Four -- */

#playerFour {
    -fx-border-color: lime;
    -fx-border-style: solid;
    -fx-border-radius: 3;
    -fx-border-width: 5;
    -fx-text-fill: white;
}

#labelWizard {
    -fx-text-fill: lime;
    -fx-font-size: 40;
}